name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
      - run: npm ci 
      - uses: mlugg/setup-zig@v2
        with:
          version: "0.15.2"
      - uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: "38.0.3"
      - run: zig build activate
      - run: zig build
      - run: zig build test --summary all
      - uses: actions/upload-pages-artifact@v3
        with:
          path: zig-out

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment        
